{% extends "base.html" %}
{% block content %}


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
                <h1>Health Care Solutions</h1>
            </div>
            <div class="row g-4">
                {% for dep in department %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-heartbeat text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">{{dep.dep_name}}</h4>
                        <p class="mb-4">{{dep.dep_des}}</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                {% endfor %}
                            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                    <h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>
                    <p class="mb-4">If You Have Any Query Please Connect US.</p>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+971509346755</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">ar@medicalcenter@gmail.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form method="post">
                            {% csrf_token %}
                            <h1 align= "center"> Book Your Appointment </h1>
                            
                            <p class="mb-4">If You Need to Book the Doctor... Please fill the form..</p>
                            <div class="alert alert-success d-none" role="alert"></div>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                   {{form.name}}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {{form.email}}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {{form.phone}}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {{form.doctor}}
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        {{form.booked}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        {{form.time}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    {{form.desc}}
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


        

    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Blog</p>
                <h1>Latest News & Articles</h1>
            </div>
            <div class="row g-4">
                {% for new in news %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    
                    <div class="blog-item bg-light rounded h-100 p-4">
                        <img class="img-fluid rounded mb-4" src="{{new.blog_pic.url}}" alt="blog Image">
                        <h4 class="mb-3">{{new.title}}</h4>
                        <p class="mb-4">{{new.desc}}</p>
                        <a class="btn" href="/service"><i class="fa fa-plus
                            text-primary me-3"></i>Read More</a>    
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock content %}